#header {
  background-color: aquamarine;
  width: 815px;
}
#footer {
  background-color: aquamarine;
  width: 815px;
}
#cel1 {
  background-color: black;
  color: white;
}
#cel2 {
  background-color: purple;
  color: sandybrown;
}
#cel3 {
  background-color: grey;
  color: gold;
}
#cel4 {
  background-color: orange;
  color: brown;
}
#cel5 {
  background-color: white;
}
#cel6 {
  background-color: sandybrown;
}
#cel7 {
  background-color: gold;
}
#cel8 {
  background-color: yellow;
}
#cel9 {
  background-color: orangered;
  color: black;
}
#cel10 {
  background-color: blue;
  color: red;
}
#cel11 {
  background-color: brown;
  color: burlywood;
}
#cel12 {
  background-color: salmon;
  color: yellowgreen;
}
#cel13 {
  background-color: black;
}
#cel14 {
  background-color: red;
}
#cel15 {
  background-color: burlywood;
}
#cel16 {
  background-color: yellowgreen;
}
